@font-face {
    font-family: "GT America Medium";
    src: url("fonts/GT-America-Medium.eot");
    /* IE9*/
    src: url("fontts/GT-America-Medium.eot?#iefix") format("embedded-opentype"),
        /* IE6-IE8 */
        url("fonts/GT-America-Medium.woff2") format("woff2"),
        /* chrome、firefox */
        url("fonts/GT-America-Medium.woff") format("woff"),
        /* chrome、firefox */
        url("fonts/GT-America-Medium.ttf") format("truetype"),
        /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
        url("fonts/GT-America-Medium.svg#GT America Medium") format("svg");
    /* iOS 4.1- */
}

body {
    background-image: url(1.svg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: 18%;
    font-family: GT America Medium;
    font-size: 11.4pt;
    padding: 15px;
}

.text {
    position: absolute;
    left: 10px;
    top: 10px;
}

.contact {
    position: absolute;
    right: 10px;
    top: 10px;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover{
    text-decoration: underline;
}
