@font-face {
    font-family: 'Marista-Italic';
    src: url('font/Marista-Italic.eot');
    /* IE9 Compat Modes */
    src: url('font/Marista-Italic.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('font/Marista-Italic.woff') format('woff'),
        /* Pretty Modern Browsers */
        url('font/Marista-Italic.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('font/Marista-Italic.svg#svgFontName') format('svg');
    /* Legacy iOS */
}

@font-face {
    font-family: 'Savate-Italique';
    src: url('font/Savate-Italique.eot');
    /* IE9 Compat Modes */
    src: url('font/Savate-Italique.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('font/Savate-Italique.woff') format('woff'),
        /* Pretty Modern Browsers */
        url('font/Savate-Italique.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('font/Savate-Italique.svg#svgFontName') format('svg');
    /* Legacy iOS */
}

@font-face {
    font-family: american-scribe;
    src: url(font/american-scribe.woff)
}


body {
    position: fixed;
    display: flex;
    font-family: Marista-Italic;
    height: 100%;
    width: 100%;
    margin-left: 0px;
    text-align: left;
    overflow: auto;
    background-color: lightgrey;
    color: white;
}

.sidebar {
    position: relative;
    background-color: white;
    text-align: center;
    left: auto;
    top: 0%;
    left: 0%;
    bottom: 0%;
    height: 98%;
    z-index: 1000;
    overflow: scroll;
    width: 30vw;
    margin-left: 10px;
    margin-bottom: 5px;
    padding-left: 7.5px;
    color: black;
    font-size: 16px;


}

.sidebar-menu {
    position: relative;
    background-color: white;
    align-content: center;
    left: auto;
    top: 0%;
    left: 0%;
    bottom: 0%;
    height: 98%;
    z-index: 1000;
    overflow: scroll;
    width: 30px;
    padding: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
    color: black;
    font-size: 16px;

}

.sidebar-menu:hover {
    cursor: context-menu;
    background-color: darkgrey;
    color: white;
}


.text {
    height: 100%;
    width: 100vw;
    overflow: scroll;
    text-align: center;
    display: inline-block;
    font-weight: 400;
    font-size: 15pt;
    line-height: 18pt;
    color: white;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    padding-bottom: 10vh;

}

.title {
    height: 100%;
    width: 100vw;
    overflow: scroll;
    padding-right: 3vw;
    text-align: center;
    display: inline-block;
    font-weight: 400;
    font-size: 17pt;
    line-height: 20pt;
    color: black;
    padding-left: 10vw;
    padding-right: 10vw;
    margin-bottom: 15vh;
}


#img1 {
    height: 14.5vh;
    width: auto;
    margin-left: 5vw;
    margin-right: auto;
}


.list {
    padding-left: 1vw;
    padding-right: 5vw;
    margin-left: 0px;
    text-align: left;
}

.header {
    text-align: center;
    margin-top: 15px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 8.5vh;
    font-size: 24px;
}

#imgheading {
    height: 70px;
}

.header2 {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 50px;
    font-size: 24px;
}

#imgheading2 {
    height: 10vh;
}

t {
    display: inline-block;
    color: black;
    font-weight: 900;
    margin-top: 2.5px;
    margin-bottom: 4px;
    background-color: whitesmoke;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 2px;
}

p {
    display: inline-block;
    line-height: 15pt;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: darkgrey;
    padding-left: 3px;
    padding-right: 0px;
}

h1 {
    display: inline-block;
    //background-color: whitesmoke;
    color: black;
    padding-top: -20px;
    font-size: 22pt;
}

p2 {
    display: inline-block;
    margin-top: 2.5px;
    margin-bottom: 2.5px;
    background-color: whitesmoke;
}

.bottommenu {
    margin-top: 15vw;
    margin-left: 25vw;
    margin-right: 25vw;
    font-weight: 400;
    font-size: 16pt;
    line-height: 22pt;
    text-align: center;
    color: white;
}


.footer {
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, -50%);
}

#imgfooter {
    height: 3vh;
    width: fixed;
}

.arrow {
    height: 16px;
    width: 16px;
    padding: auto;
    padding-top: 3px;
}

.ul {
    background-color: white;
    padding: 0px;
}


li {
    list-style-image: url(Arrow2.svg);
    list-style-position: outside;
    display: inline-block;

}

h2 {
    font-weight: 100;
    text-align: inherit;
    font-size: 22px;
    margin-top: -20px;
    margin-bottom: 2px;
    width: auto;
}


div.ani {
    margin-bottom: 20px;
    background: linear-gradient(-45deg, grey, lightgrey, grey, lightgrey);
    background-size: 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animated_text 4s ease-in-out infinite;
    -moz-animation: animated_text 4s ease-in-out infinite;
    -webkit-animation: animated_text 4s ease-in-out infinite;
}

@keyframes animated_text {
    0% {
        background-position: 0px 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0px 50%;
    }
}

a {
    text-decoration: inherit;
    color: inherit;
}

a:hover {
    text-decoration: underline;
    color: inherit;
    filter: drop-shadow(0px 0px 15px black)
}

a:visited {
    text-decoration: inherit;
    color: inherit;
}

a:active {
    text-decoration: inherit;
    color: inherit;
}
